name: Test x86_64

on:
  pull_request:
  push:
    branches:
      - master
      - staging
      - trying

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/hermitcore/hermit-toolchain:latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install qemu
      run: apt-get update --fix-missing && apt-get install -y qemu-system-x86
    - name: Build apps
      run: |
        mkdir build
        cd build
        cmake ..
        make
    - name: Build loader
      working-directory: loader
      run: make
    - name: Run hello
      run: qemu-system-x86_64 -smp 1 -cpu qemu64,apic,fsgsbase,rdtscp,xsave,xsaveopt,fxsr,rdrand -display none -m 128M -serial stdio -kernel loader/target/x86_64-unknown-hermit-loader/debug/rusty-loader -initrd build/local_prefix/opt/hermit/x86_64-hermit/extra/tests/hello
